body {
    font-family: 'Roboto', sans-serif;
    background-color: hsl(256, 74%, 17%);
    color: #434455;
    box-sizing: border-box;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.link {
    color: inherit;
    text-decoration: none;
    font-style: normal;
}

button {
    cursor: pointer;
}
.is-hidden{
    display: none;
}
